---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import AddButton from "../components/AddButton.astro";
import axios from "axios";

let trainings = await axios
  .get(Astro.url.origin + "/api/trainings.json")
  .then((res) => {
    return res.data.data;
  })
  .catch((err) => {
    console.log(err);
  });
---

<Layout title="Entrenamientos" transition:persist>
  <h1 class="text-teal-600 relative">Entrenamientos</h1>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 place-items-center relative"
  >
    {
      trainings.map((training: any) => (
        <Card
          id={training.training_id}
          fecha={training.fecha}
          calorias={training.calorias}
          training_time={training.training_time}
        />
      ))
    }
    <!-- Boton de add entrenamiento -->
    <AddButton href=`/forms/trainingForm` />
  </div>
</Layout>
