---
interface Props {
  id: string;
  fecha: string;
  calorias: string;
  training_time: string;
}

const { id, fecha, calorias, training_time } = Astro.props;
---

<div class="notification">
  <div class="notiglow"></div>
  <div class="notititle">{fecha} - {calorias} Kcal</div>
  <div class="notibody">{training_time}</div>
</div>

<style>
  .notification {
    display: flex;
    flex-direction: column;
    position: relative;
    --br: 10px;
    width: 18rem;
    height: 5rem;
    background: #18181b;
    border-radius: var(--br);
    overflow: hidden;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid #29292c;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: #32a6ff;
    &:after {
      position: absolute;
      content: "";
      width: 0.25rem;
      inset: 0.65rem;
      border-radius: 0.125rem;
      background: var(--gradient);
      transition: transform 0.4s ease-in-out;
      z-index: 4;
    }

    &:hover {
      &:after,
      .notititle {
        transform: translateX(0.25rem);
      }
      .notibody {
        transform: translateX(0.5rem);
      }

      .notiglow {
        opacity: 0.1;
      }
    }
  }

  .notititle {
    color: var(--color);
    padding: 0.5rem 1.75rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 0.4s ease-in-out;
    z-index: 5;
  }

  .notibody {
    color: #fafafa;
    padding: 0 1.75rem;
    transition: transform 0.4s ease-in-out;
    z-index: 5;
  }
  .notiglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      circle closest-side at center,
      white,
      transparent
    );
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 3;
  }
</style>
