---
interface Props {
  id: string;
  fecha: string;
  calorias: string;
  training_time: string;
}

const { id, fecha, calorias, training_time } = Astro.props;
---

<a class="notification" href=`/training/${id}`>
  <div class="notiglow"></div>
  <div class="notititle">{fecha} - {calorias} Kcal</div>
  <div class="notibody">{training_time}</div>
</a>

<style>
  /* El cuerpo de la carta */
  .notification {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    --br: 10px;
    width: 18rem;
    height: 5rem;
    overflow: hidden;
    background: rgba(#18181b, 0.9);
    border-radius: var(--br);
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid var(--gray);

    /* Barra de color con gradiente */
    &:after {
      position: absolute;
      content: "";
      width: 0.25rem;
      inset: 0.65rem;
      border-radius: 0.125rem;
      background: var(--gradient);
      transition: transform 0.4s ease-in-out;
      z-index: 4;
    }

    &:hover {
      .notititle {
        transform: translateX(0.25rem);
      }
      .notibody {
        transform: translateX(0.5rem);
      }

      .notiglow {
        opacity: 0.1;
      }
    }
  }

  /* Titulo */
  .notititle {
    color: var(--color);
    padding: 0.5rem 1.75rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 0.4s ease-in-out;
    z-index: 5;
  }

  /* Cuerpo */
  .notibody {
    padding: 0 1.75rem;
    transition: transform 0.4s ease-in-out;
    z-index: 5;
  }

  /* Brillo al hacer hover */
  .notiglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      circle closest-side at center,
      whitesmoke,
      transparent
    );
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 1;
  }
</style>
