---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /* Colores de cartas */
    --color: #32a6ff;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);

    /* Colores generales de astro */
    --accent: var(--color);

    /* Personalizados */
    --white: whitesmoke;
    --dark: #13151a;
    --black: #18181b;
    --gray: #2d2d2d;
    --light: #f5f5f5;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--dark);
  }

  * {
    margin: 0;
    padding: 0;
    color: whitesmoke;
  }
</style>
